@import './helpers/styles/fonts.scss';

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  @include primaryFont;
  color: whitesmoke;
}

body {
  background: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

main {
  position: fixed;
  top: 6rem;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.error-message {
  padding: 1rem 2rem;
  width: 100%;
  background-color: palevioletred;
  color: black;
}
