@import '../../helpers/styles/form.scss';

.quests {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  padding: 0 2rem;
  overflow: auto;

  .quest-form-action {
    @include formControls;
  }
}
