@import '../../helpers/styles/buttons.scss';

.quest-givers-list {
  width: calc(100vw - 4rem);
  border: solid whitesmoke 0.3rem;

  thead {
    tr {
      border-bottom: solid whitesmoke 0.2rem;
      background-color: whitesmoke;

      th {
        padding: 1rem;
        border-right: solid whitesmoke 0.1rem;

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 1.5rem 1rem 0.5rem 1rem;
        border-top: solid whitesmoke 0.2rem;
        border-right: solid whitesmoke 0.1rem;
        text-align: center;
        vertical-align: top;

        &:last-of-type {
          border-right: none;
        }

        ul {
          margin-bottom: 0.5rem;

          li {
            text-align: left;
          }
        }

        .edit-button {
          margin-top: -0.5rem;
          @include naked-button;

          img {
            @include icon;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
