@import '../../helpers/styles/form.scss';

.quest-giver-form {
  @include formStyles;

  .name-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 100%;
    border: solid whitesmoke 0.1rem;

    li {
      padding: 0 3rem;
      font-size: 1.6rem;
      list-style-type: none;
    }
  }

  .reroll-names {
    padding: 0.5rem 0;
    width: 100%;
    @include naked-button;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
